<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 8M</title>
</head>

<body>
    <div class="card">
        <h1 style="color: #ff457f;">สุขสันต์วันครบรอบ 8 เดือนน้า</h1>
        <br>
        <div class="text">
            <p>
                เดือนนี้เค้าไม่มีอะไรจะบอกแล้วนะค้าบ จะบอกแค่ขอโทษนะค้าบ ขอโทษที่เค้านิสัยไม่ดีขึ้น เริ่มหึงเทอมากเกินไปจนเทอเบื่อ 
                ถ้าไม่ชอบก็บอกเค้านะค้าบ คิดถึงเทอแน่เลยจะไม่ได้เจอเทอตั้งเดือนนึง ขอให้มันผ่านไปเร็วๆนะค้าบ อยากเปิดเทอมแล้ว
                อย่างน้อยขอเจอหน้าครั้งสุดท้ายละกันนะค้าบบ รักเทอนะค้าบบ รักมากๆๆเลย รักที่สุดเลยค้าบ ไม่มีใครแทนเทอได้เลยนะค้าบ รู้ไหมม❤️
            </p>
            <br>
            <br>
            <p class="muted">- Yuki -</p>
        </div>
        <img src="../img/stiker.gif" alt="ILOVEYOU">
    </div>
    <script src="../js/autoplay.js"></script>
</body>

</html>